.map path {
  fill: grey;
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .map path.swing {
    fill: #009900;
    stroke: #006600; }
  .map path.republican {
    fill: #990000;
    stroke: #660000; }
  .map path.democrat {
    fill: #000099;
    stroke: #000066; }
  .map path.not-voted {
    opacity: .3; }

.map.states--democrat path.republican,
.map.states--democrat path.swing {
  opacity: .3; }
