<div class="graph graph--half-marker graph--center-out">
    <div class="left flex-bar--horiz {{ graph.data.left.classes }}" ng-class="{'gt80': graph.data.right.percent > 80}">
        <div class="total number">{{ graph.data.total }}</div>
        <div class="value number">
            <div class="inner">
                <span class="inner-total">{{ graph.data.left.total }}</span>
                <span class="percent">{{ graph.data.left.percent }}%</span>
            </div>
        </div>
        <div class="bar" style="width: {{graph.data.left.percent}}%"></div>
    </div>
    <div class="right flex-bar--horiz {{ graph.data.right.classes }}" ng-class="{'gt80': graph.data.right.percent > 80}">
        <div class="bar" style="width: {{graph.data.right.percent}}%"></div>
        <div class="value number">
            <div class="inner">
                <span class="inner-total">{{ graph.data.right.total }}</span>
                <span class="percent">{{ graph.data.right.percent }}%</span>
            </div>
        </div>
        <div class="total number">{{ graph.data.total }}</div>
    </div>
</div>