<article id="map" class="white">
    <div class="content">
        <header>
            <h1>Where <small><span>are</span> <span>they</span></small> Winning?</h1>
        </header>

        <map-control>
            <svg-map></svg-map>
        </map-control>
    </div>

    <div class="images">
        <candidate-image key="'clinton'" name="'Hillary Clinton'"></candidate-image>
        <candidate-image key="'sanders'" name="'Bernie Sanders'"></candidate-image>
    </div>
</article>