<div class="wrapper white no-frills">
    <article id="map" class="white">
        <div class="content">
            <header>
                <h1>Where <small><span>are</span> <span>they</span></small> Winning?</h1>
            </header>

            <map-control>
                <svg-map></svg-map>
            </map-control>

        </div>
    </article>
    <article id="table" class="next-has-candidate-image">
        <div class="content">
            <state-table></state-table>
        </div>
    </article>
</div>

<article id="delegates" class="green">
    <div class="content" ng-controller="DelegateController as delegates">
        <header class="candidate-images">
            <candidate-image key="'clinton'" name="'Hillary Clinton'"></candidate-image>
            <candidate-image key="'sanders'" name="'Bernie Sanders'"></candidate-image>
        </header>
        <header>
            <h1>Doing <small>the</small> Math</h1>
        </header>

        <div class="explainer">
            <p>It takes <strong>{{ delegates.delegatesToWin }}</strong> delegates to become the democratic nominee.
                    Currently <strong>{{ delegates.leader == 'clinton' ? 'Hillary Clinton' : 'Bernie Sanders' }}</strong>
                    is leading with <strong>{{ delegates[delegates.leader].total }}</strong> pledged delegates.<br />
                This does not include potential super-delegates</p>
        </div>

        <div>
            <graph-center-out data="delegates.data" ></graph-center-out>
        </div>

    </div>
</article>

<article id="latest" class="blue" data-title="The Latest">
    <div class="content" ng-controller="LatestController as latest">
        <header>
            <h1>What's <small>the</small> Latest</h1>
        </header>

        <div class="staterow staterow--colored">
            <section class="staterow-state" ng-repeat="state in latest.latest" ng-class="state.party">
                <h1 class="state"><span class="state-abbv state-font">{{ state.abbv }}</span>{{ state.name }}</h1>
                <candidate-image key="state.winner"></candidate-image>
                <section class="primary col-xs">
                    <span class="primary--date">{{ state.primary.date | amCalendar }}</span>
                </section>
                <table class="delegates">
                    <thead>
                    <tr>
                        <th ng-class="{winner: state.winner === 'clinton'}">Clinton</th>
                        <th ng-class="{winner: state.winner === 'sanders'}">Sanders</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-class="{winner: state.winner === 'clinton'}">{{ state.delegates.clinton }}</td>
                        <td ng-class="{winner: state.winner === 'sanders'}">{{ state.delegates.sanders }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

    </div>
</article>

<article id="outstanding" class="red">
    <div class="content" ng-controller="OutstandingController as out">
        <header>
            <h1>Yet <small>to</small> Vote</h1>
        </header>

        <graph-flex-bar
            orientation="horizontal"
            data="out.graphData"
            tmpl="'outstanding-graph-content.html'"
            click="out.click(data)"
        ></graph-flex-bar>

        <section class="totals">
            <header>
                <h1 class="number">{{ out.total | number }}</h1>
                <h2>Delegates Remaining</h2>
            </header>
        </section>

        <div class="breakdown">
            <section class="democrat number" title="Democrat" ng-style="{'border-width': (out.totals.democrat / out.total) * 3 + 'em' }">
                <div>
                    <h3 class="breakdown-total">{{ out.totals.democrat | number }}</h3>
                    <h4 class="breakdown-percent">{{ (out.totals.democrat / out.total) * 100 | number:0 }}%</h4>
                </div>
            </section>

            <section class="swing number" title="Swing" ng-style="{'border-width': (out.totals.swing / out.total) * 3 + 'em' }">
                <div>
                    <h3 class="breakdown-total">{{ out.totals.swing | number }}</h3>
                    <h4 class="breakdown-percent">{{ (out.totals.swing / out.total) * 100 | number:0 }}%</h4>
                </div>
            </section>

            <section class="republican number" title="Republican" ng-style="{'border-width': (out.totals.republican / out.total) * 3 + 'em' }">
                <div>
                    <h3 class="breakdown-total">{{ out.totals.republican | number }}</h3>
                    <h4 class="breakdown-percent">{{ (out.totals.republican / out.total) * 100 | number:0 }}%</h4>
                </div>
            </section>
        </div>

        <script type="text/ng-template" id="outstanding-graph-content.html">
            <div class="state-data">
                <h4 class="state-data-abbv state-font" data-title="{{ name }}">{{ abbv }}</h4>
                <h5 class="state-data-total">{{ delegates.total }}</h5>
            </div>
        </script>

    </div>
</article>

<footer class="sources">
    <div class="content">
        <ul>
            <li>Primary Results from <a href="http://www.cnn.com/election/"
                target="_blank"><icon src="'cnn'"></icon>CNN</a></li>
            <li>Additional primary information from
                <a href="http://www.nytimes.com/interactive/2016/us/elections/primary-calendar-and-results.html?_r=0"
                    target="_blank"><icon src="'nyt'"></icon>New York Times</a></li>
            <li>Historical Data and Party from <a href="http://www.270towin.com/states"
                target="_blank"><img src="images/270toWin-icon.png" /> 270 to Win</a></li>
            <li>Primary Types from <a href="https://en.wikipedia.org/wiki/Democratic_Party_presidential_primaries,_2016"
                target="_blank"><icon src="'wikipedia'"></icon>Wikipedia</a></li>
        </ul>
    </div>
</footer>