<div class="map-holder">

    <div class="map" ng-class="[mcvm.states, mcvm.candidates]" ng-transclude></div>

    <div class="map-controls">
        <section class="states">
            <header>
                <h1>States</h1>
            </header>

            <div class="btn-group">
                <label class="btn btn-default" ng-model="mcvm.states" uib-btn-radio="'states--all'" uncheckable>All</label>
                <label class="btn btn-default" ng-model="mcvm.states" uib-btn-radio="'states--democrat'" uncheckable>Democrat</label>
                <label class="btn btn-default" ng-model="mcvm.states" uib-btn-radio="'states--republican'" uncheckable>Republican</label>
                <label class="btn btn-default" ng-model="mcvm.states" uib-btn-radio="'states--swing'" uncheckable>Swing</label>
            </div>
        </section>
        <section class="candidates">
            <header>
                <h1>Candidates</h1>
            </header>

            <div class="btn-group">
                <label class="btn btn-default" ng-model="mcvm.candidates" uib-btn-radio="'candidates--all'" uncheckable>All</label>
                <label class="btn btn-default" ng-model="mcvm.candidates" uib-btn-radio="'candidates--clinton'" uncheckable>Clinton</label>
                <label class="btn btn-default" ng-model="mcvm.candidates" uib-btn-radio="'candidates--sanders'" uncheckable>Sanders</label>
            </div>
        </section>
    </div>

</div>