@mixin article($color) {
  $type: map-get($articles, $color);

  background: radial-gradient(center, circle farthest-corner, map-get($type, gradient-from), map-get($type, gradient-to) 50%);
  color: map-get($type, text-color);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/images/stars.svg) 50% no-repeat;
    opacity: map-get($type, star-opacity);
  }

  header h1 {
    color: map-get($type, header-color);
    text-shadow: 1px 2px 0 map-get($type, header-shadow-color);
  }
}

@mixin article--no-frills($color) {
  $type: map-get($articles, $color);

  background: map-get($type, gradient-to);
  color: map-get($type, text-color);

  header h1 {
    color: map-get($type, header-color);
    text-shadow: 1px 2px 0 map-get($type, header-shadow-color);
  }
}


#container > article,
#container > .wrapper > article{
  position: relative;
  text-align: center;
  padding: $article-padding;

  .content > header h1 {
    font-family: 'Day Poster Black', sans-serif;
    font-size: 3.5em;
    font-weight: normal;
    letter-spacing: -.02em;

    small {
      font-size: .39em;
      display: inline-block;
      vertical-align: middle;
      line-height: .8em;
      margin: auto -.3em;

      span {
        display: block;
      }
    }
  }

  > .content {
    position: relative;
    z-index: 1;
    max-width: $content-width;
    margin: 0 auto;
  }

  .explainer {
    margin: 1em 0 4em 0;
    font-size: $font-size-medium;
  }

  &.next-has-candidate-image {
    padding-bottom: -$candidate-image-header-around;
  }
}

#container > article:last-child {
  padding-bottom: $article-padding * 4;
}

article.white {
  @include article(white);
}

article.green {
  @include article(green);
}

article.blue {
  @include article(blue);
}

article.red {
  @include article(red);
}

.white.no-frills {
  @include article--no-frills(white);
}

.green.no-frills {
  @include article--no-frills(green);
}

.blue.no-frills {
  @include article--no-frills(blue);
}

.red.no-frills {
  @include article--no-frills(red);
}