@import 'https://fonts.googleapis.com/css?family=Play:400,700|PT+Sans+Narrow:400,700';
@import '../css/fonts/dayposterblack/stylesheet';
@import '../css/fonts/ptstatesnarrow/stylesheet';

@import '_variables';
@import '_mixins';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../node_modules/flexboxgrid/css/flexboxgrid';

@import '_icons';
@import '_main';
@import '_sections';
@import '_map';
@import '_mapControls';
@import '_stateTable';
@import '_modal';
@import '_candidateImage';
@import '_graphs';
@import '_headings';
@import '_outstanding';
@import '_staterow';
@import '_latest';

.button {
  background: rgba(255,255,255,.2);
  border: 1px solid darken($gray-lighter, 20%);
  padding: .75em 2.5em;
  border-radius: 1.5em;
  text-shadow: 0 1px 0 $gray-lighter;
  outline: none;
  transition: all .25s ease;

  &:hover {
    background: rgba(255,255,255,.4);
  }
}