@import '_variables';

$darken-amount: 10%;
$republican-stroke: darken($republican, $darken-amount);
$democrat-stroke: darken($democrat, $darken-amount);
$swing-stroke: darken($swing, $darken-amount);

.map {

  path {
    fill: grey;
    stroke-width: 1;
    stroke: rgba(0,0,0,.5);
    cursor: pointer;

    &.swing {
      fill: $swing;
      stroke: $swing-stroke;
    }

    &.republican {
      fill: $republican;
      stroke: $republican-stroke;
    }

    &.democrat {
      fill: $democrat;
      stroke: $democrat-stroke;
    }

    &.not-voted {
      opacity: .3;
    }
  }

  &.states--democrat {
    path.republican,
    path.swing {
      opacity: .3;
    }
  }


}