@import '_variables';

$darken-amount: 10%;
$republican-stroke: darken($republican, $darken-amount);
$democrat-stroke: darken($democrat, $darken-amount);
$swing-stroke: darken($swing, $darken-amount);

#StatePolys path {
  fill: grey;
  stroke-width: 1;
  stroke: rgba(0,0,0,.5);
  cursor: pointer;

  &.swing {
    fill: $swing;
    stroke: $swing-stroke;

    &.clinton {
      fill: url(#clinton-swing);
    }

    &.sanders {
      fill: url(#sanders-swing);
    }
  }

  &.republican {
    fill: $republican;
    stroke: $republican-stroke;

    &.clinton {
      fill: url(#clinton-republican);
    }

    &.sanders {
      fill: url(#sanders-republican);
    }
  }

  &.democrat {
    fill: $democrat;
    stroke: $democrat-stroke;

    &.clinton {
      fill: url(#clinton-democrat);
    }

    &.sanders {
      fill: url(#sanders-democrat);
    }
  }

  &.not-voted {
    opacity: .3;
  }
}